<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Promedio Estudiantes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>
<body>
    <div class='jumbotron'>
        <div class = 'container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <header>
                        <h1 class='text-center'>FORMACIÓN CONTINUA </h1>
                    </header>
               
                </div>
            </div>
        </div>
   </div class='container'>
        <navbar class='nav navbar-left row'>
            <a class='col-sm-1' href='/'>Home</a>
            <a class='col-sm-1' href='/coordinador'>Coordinador</a>
            <a class='col-sm-1' href='/aspirante'>Aspirante</a>
            <a class='col-sm-1' href='/estudiante'>Estudiante</a>
        </navbar>
 