{{>header}}
    <p>
        Bienvenido a la página de promedio estudiante
    </p>
    <p>El se creo el usuario  {{estudiante}} y el nombre es {{nombre}} es {{crearUsuario nombre cedula telefono email }}</p>
{{>footer}}