{{>header}}

<h2>Listar Cursos</h2>
     </form>

                <form action='./verCursosEstudiante' method='post' class='row form-group' >}
        
            <input type='text' name='cedula' class='form-control col-sm-10' placeholder='cedula' required>
               
            <br><button class='btn btn-primary'>Ver cursos</button>
           
           
           
        </form>


                      <h2>Eliminar curso estudiante</h2>
        </form>

                <form action='./mensajesEliminar' method='post' class='row form-group' >}
        
            <input type='text' name='cedula' class='form-control col-sm-10' placeholder='cedula' required>
            <input type='text' name='curso' class='form-control col-sm-3' placeholder='curso' required>        
            <br><button class='btn btn-primary'>Retirarse</button>
           
           
           
        </form>


{{>footer}}